$white: #fff;
$yellow: #f8c335;
$blue: #177cb5;
$blue2: #7fc8ef;
$dark: #1c0e09;
$brown: #82422c;
$grey: #3d3636;
$grey2: #3a3a3a;
$grey3: #575757;
$grey4: #696969;
$black: #000;
$darkblue: #14171e;
$darkblue2: #576684;
$darkblue3: #111621;
$green: #00ff1a;
$red: #f00