.custom-select, .lang-select {
    position: relative;
    z-index: 5;
}

.custom-select select {
    display: none;
}

.select-selected:after, .lang-select:before {
    position: absolute;
    content: url(../images/arrow.svg);
    transition: all .3s;
}

.select-selected.select-arrow-active:after, .lang-select:before {
    transform: rotate(-180deg);
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 5px 5px 5px 14px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    transition: all .3s;
}

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba($color: $white, $alpha: 0.1);
    border-radius: 5px;
}


.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba($color: $white, $alpha: 0.15);
    border-radius: 5px;
}

// header {
//     .select-selected:after {
//         left: 0;
//     }
//     .select-icon {
//         display: none;
//     }
// }
.react-select__wrapper {
    width: 60px;
    background: black !important;
    color: white !important;
}
.react-select__control {
    background: black !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}
.react-select__input-container, .react-select__single-value {
    color: white !important; 
}
.react-select__value-container {
    background: black !important;
    color: white !important;
}
.react-select__menu {
    background: #000;
    &-list {
        background: #000;
    }
}
.css-13cymwt-control, .css-t {
    background: black !important;
    color: white !important;
}
.react-select__indicator-separator {
    display: none;
}
.react-select__option {
    background: #ffffff26 !important;
}
.react-select__option--is-focused {
    
    background: #ffffff54 !important;
}
.react-select__indicators {
    position: absolute;
    left: -20px;
}