.custom-select {
    position: relative;
    z-index: 5;
}

.custom-select select {
    display: none;
}

.select-selected:after {
    position: absolute;
    content: url(../images/arrow.svg);
    transition: all .3s;
}

.select-selected.select-arrow-active:after {
    transform: rotate(-180deg);
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 5px 5px 5px 14px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    transition: all .3s;
}

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba($color: $white, $alpha: 0.1);
    border-radius: 5px;
}


.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba($color: $white, $alpha: 0.15);
    border-radius: 5px;
}

header {
    .select-selected:after {
        left: 0;
    }
    .select-icon {
        display: none;
    }
}