@import 'colors';

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    color: $white;
    background-color: $black;
    background-image: url(../images/bg.gif);
    background-size: contain;
    background-repeat: repeat;
    background-position: top center;
    position: relative;
    z-index: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: $yellow;
    background-color: $grey;
    padding: 12px 44px 12px 10px;
    border: none;
    border-radius: 16px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
    &::after {
        content: '';
        background-image: url(../images/stars.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &:hover {
        color: $yellow;
        opacity: 0.7;
    }
}