@import 'colors';

@media (max-width: 1170px) {
    .planets__planet {
        max-width: 100%;
    }
    .main.mt {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .main__inner.index {
        flex-direction: column;
        align-items: center;

        .main__imgs {
            max-width: 400px;
            height: 400px;
            img {
                max-width: 400px;
                height: 400px;
                opacity: 0;
                
            }
        }

        .main__content {
            margin-left: 0;
            margin-top: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 820px) {
    .wallet {
        padding: 25px 20px 20px;
    }
    .wallet__title {
        font-size: 36px;
    }
    .wallet__balance {
        font-size: 14px;
    }
    .wallet__table {
        padding: 16px 20px 20px;
    }
    .main__inner.index {
        .main__imgs {
            max-width: 350px;
            height: 350px;
            img {
                max-width: 350px;
                height: 350px;
            }
        }
    }
}

@media (max-width: 800px) {
    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        .select-selected {
            color: $yellow;
            padding: 0;
            &::after {
                content: '';
            }
        }
        .select-items {
            display: none;
        }
    }
    .header__logo {
        width: 100%;
        text-align: center;
    }
    .header__wallet,
    .header__language {
        margin-top: 16px;
    }
    .header__wallet {
        margin-left: 0;
    }
    .header__language {
        margin-left: 16px;
    }
    .header__button {
        display: none;
    }
    .market {
        flex-wrap: wrap;
    }
    .market__history {
        max-width: 500px;
        width: 100%;
        margin: 16px auto 0;
    }
}

@media (max-width: 710px) {
    .wallet__table-coin {
        font-size: 12px;
        line-height: 15px;
        padding-left: 25px;
        &::before {
            width: 15px;
            height: 15px;
        }
        span {
            left: 25px;
        }
    }
    .wallet__table-header {
        font-size: 16px;
        div:nth-child(1),
        div:nth-child(2) {
            max-width: 120px;
            &::after {
                content: '';
            }
        }
    }
    .wallet__table-row {
        div:nth-child(2) {
            font-size: 12px;
            line-height: 15px;
        }
        .btn {
            max-width: 80px;
            width: 100%;
            font-size: 8px;
            padding: 7px 24px 7px 6px;
            &::after {
                width: 13px;
                height: 13px;
                top: 5.5px;
                right: 5px;
            }
        }
        div:nth-child(1),
        div:nth-child(2) {
            max-width: 120px;
        }
    }
    .wallet__title {
        font-size: 24px;
    }
    .wallet__balance {
        font-size: 10px;
    }
    .wallet__table {
        height: 360px;
    }
    .main__inner.index {
        .main__imgs {
            max-width: 300px;
            height: 300px;
            img {
                max-width: 300px;
                height: 300px;
            }
        }

        .main__title {
            font-size: 28px;
        }

        .main__text {
            font-size: 14px;
            min-height: 90px;
        }

        .main__btn {
            font-size: 16px;
            line-height: 20px;
            padding: 8px 16px !important;
        }
    }
}

@media (max-width: 550px) {
    .header__logo img {
        height: 48px;
    }
    .header__wallet,
    .header__language {
        font-size: 12px;
    }
    #ton-connect{
        margin-top: 10px;
    }
    .header__wallet {
        // line-height: 15px;
        // padding-left: 22px;
        &::before {
            width: 12px;
            height: 12px;
            top: 2px;
            left: 0;
        }
    }
    nav {
        padding: 10px 0 27px;
    }
    .nav__item {
        font-size: 12px;
        & + .nav__item {
            margin-left: 16px;
        }
        &.active a {
            border-bottom: 3px solid $yellow;
        }
    }
    .main__title {
        font-size: 16px;
    }
    .main__text {
        font-size: 8px;
        margin-top: 12px;
    }
    .planets {
        margin-top: 12px;
        .btn {
            font-size: 8px;
            padding: 7px 24px 7px 6px;
            &::after {
                width: 13px;
                height: 13px;
                top: 5.5px;
                right: 5px;
            }
        }
    }
    .planets__planet {
        margin-top: 12px;
        border-radius: 16px;
        .animated-border {
            padding: 18px;
            border-radius: 16px;
        }
        &.with_To .planet__img::before {
            width: 24px;
            height: 24px;
            bottom: -12px;
        }
        &.with_Click .planet__row::before {
            content: '';
        }
    }
    .planet__title {
        font-size: 12px;
    }
    .planet__information p {
        font-size: 8px;
        margin-top: 8px;
    }
    .planet__lvl {
        max-width: 64px;
    }
    .planet__gc {
        max-width: 172px;
    }
    .planet__price {
        font-size: 8px;
    }
    .planet__row {
        margin-top: 20px;
    }
    .planet__img {
        width: 82px;
        height: 82px;
        top: 18px;
        right: 20px;
        img {
            width: 82px;
            height: 82px;
        }
    }
    .planet__time-block {
        font-size: 8px;
        padding: 0;
    }
    .time-block__timer {
        padding-bottom: 0;
        span::before {
            content: '' !important;
        }
    }
    .market__title,
    .hitory__title {
        font-size: 36px;
    }
    .market__banner {
        min-height: 120px;
        padding-bottom: 0;
    }
    .market__banner-number {
        font-size: 48px;
        left: 24px;
        .market__banner-input {
            font-size: 48px;
        }
    }
    .wallet__table-header {
        font-size: 14px;
        div:nth-child(1),
        div:nth-child(2) {
            max-width: 120px;
            &::after {
                content: '';
            }
        }
    }
    .wallet__table-row {
        div:nth-child(2) {
            line-height: 14px;
        }
        .btn {
            font-size: 10px;
        }
        div:nth-child(1),
        div:nth-child(2) {
            font-size: 11px;
            max-width: 100px;
            span {
                display: none;
            }
        }
    }
    .wallet__title {
        font-size: 20px;
    }
    .wallet__balance {
        font-size: 8px;
        padding: 6px 20px;
    }
    .wallet__table-coin {
        padding-bottom: 0;
    }
    .wallet__table-hr {
        margin: 14px 0 15px;
    }
    .wallet__table-header {
        display: none;
    }
    .wallet__table {
        height: 260px;
    }
    .wallet__balance div {
        margin-left: 15px;
    }
    .laboratory__time-timer {
        font-size: 30px;
        .minutes::before {
            content: 'МИН';
        }
        .seconds::before {
            content: 'СЕК';
        }
        &.eng {
            .minutes::before {
                content: 'MIN';
            }
            .seconds::before {
                content: 'SEC';
            }
        }
    }
    .laboratory__items {
        margin-top: 0;
        div {
            width: calc(25% - 40px);
            min-width: 41px;
            height: 41px;
            margin: 20px 0;
            &::before {
                box-shadow: 0 0 60px 30px $blue2;
            }
            span {
                display: none;
            }
            &:hover::before {
                box-shadow: 0 0 60px 40px $blue2;
            }
        }
        span.del {
            display: none;
        }
        img {
            width: 41px;
            height: 41px;
        }
        span {
            margin: 0 10px;
        }
    }
    .laboratory__button  {
        font-size: 16px;
        margin-top: 40px;
    }
    .laboratory__text {
        display: none;
    }
    .main__inner.index {
        .main__imgs {
            max-width: 250px;
            height: 250px;
            img {
                max-width: 250px;
                height: 250px;
            }
        }

        .main__title {
            font-size: 24px;
        }

        .main__text {
            font-size: 12px;
        }

        .main__btn {
            font-size: 14px;
            padding: 6px 12px;
        }
    }
    footer {
        margin-top: 30px;
    }
    .footer__contacts svg {
        width: 16px;
        height: 16px;
    }
    .footer__copyright {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .main__inner.index {
        .main__imgs {
            max-width: 200px;
            height: 200px;
            img {
                max-width: 200px;
                height: 200px;
            }
        }

        .main__title {
            font-size: 20px;
        }

        .main__text {
            font-size: 11px;
        }

        .main__btn {
            font-size: 12px;
            line-height: 16px;
            padding: 5px 10px;
            margin-left: 10px !important;
        }
    }
}