@import 'global';
@import 'colors';
@import 'customSelect';
@import 'newCustomSelect';
@import 'popups';
@import 'animate';


.app-header {
    padding-top: 28px;
    top: 0;
    z-index: 4;
}

.color-ring-wrapper {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    height: 100%;
    display: flex;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__wallet,
.header__language,
.header__button {
    font-size: 16px;
    font-weight: 700;
}

.header__wallet {
    line-height: 24px;
    position: relative;
    padding-left: 46px;
    margin-left: auto;
    a {
        color: $white;
        text-decoration: none;
        transition: all .5s;
    }
    svg {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 10px;
        path {
            color: $white;
            transition: all .5s;
        }
    }
    &.ml {
        margin-left: 22px;
    }
    &:hover {
        a {
            color: $yellow;
        }
        path {
            fill: $yellow;
        }
    }
}

.header__language {
    margin-left: 22px;
}
#ton-connect{
    margin-right: 0;
}
.btn.btn-show {
    margin: 0 auto;
    margin-top: 5rem;
    &.hidden {
        display: none;
    }
}
.header__button {
    line-height: 20px;
    margin-left: 16px;
    background-color: $blue;
    padding: 10px 10px 10px 36px;
    border-radius: 16px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
    &::before {
        content: url(../images/ton.svg);
        position: absolute;
        top: 12px;
        left: 10px;
    }
    &:hover {
        background-color: rgba($color: $blue, $alpha: 0.85);
    }
    &.ml {
        margin-left: auto;
    }
}

.navigation__wrapper {
    background: rgba(0, 0, 0, 0.6)
}

nav {
    position: sticky;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    top: 0;
    z-index: 3;
    .container {
        max-width: 540px;
    }
}

.nav__inner {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    font-size: 20px;
    font-weight: 700;
    a {
        color: $white;
        text-decoration: none;
        transition: all .3s;
    }
    &:hover a {
        color: $yellow;
    }
    &.active a {
        color: $yellow;
        border-bottom: 5px solid $yellow;
    }
}

.main {
    margin-top: 100px;
}

.main.mt {
    margin-top: 120px;
}

.main__inner.index {
    display: flex;
    align-items: flex-end;
    font-family: "Arial", sans-serif;
    .main__imgs {
        max-width: 500px;
        width: 100%;
        height: 500px;
        position: relative;
        img {
            position: absolute;
            opacity :0;
            transition: all .8s ease-in-out; 
            &.fade-out {
                opacity: 1;
            }
        }
    }
    .titles, .texts {
        display: none;
    }
    .main__content {
        margin-left: 100px;
    }
    .main__title,
    .main__text {
        transition: all 0.4s ease-in-out;
        text-align: left;
        &.fade-out {
            opacity: 0;
        }
    }
    .main__title {
        font-size: 32px;
        margin: 0;
    }
    .main__text {
        min-height: 130px;
        margin-top: 16px;
    }
    .main__btns {
        margin-top: 32px;
    }
    .main__btn {
        font-size: 24px;
        line-height: 28px;
        color: $white;
        background-color: transparent;
        text-decoration: none;
        padding: 10px 10.5px;
        border: 3px solid $white;
        border-radius: 6px;
        transition: all .5s;
        cursor: pointer;
        & + .main__btn {
            margin-left: 32px;
        }
        &:hover {
            color: $black;
            background-color: $white;
        }
    }
    button.main__btn {
        padding: 10px 28.5px;
    }
}

.main__title,
.main__text {
    text-align: center;
}

.main__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 -10px;
}

.main__text {
    max-width: 800px;
    font-size: 16px;
    font-weight: 600;
    margin: 16px auto 0;
}

.planets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    path {
        fill: none;
        stroke: $yellow;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.planets__planet {
    max-width: 555px;
    border-radius: 32px;
    margin-top: 32px;
    position: relative;
    backdrop-filter: blur(2px);
    .animated-border {
        padding: 32px 35px 32px 32px;
        border-radius: 32px;
    }
    &.ver1 {
        background: linear-gradient(45deg, rgba($color: $dark, $alpha: 0.4), rgba($color: $brown, $alpha: 0.4));
    }
    &.ver2 {
        background: linear-gradient(45deg, rgba($color: $darkblue, $alpha: 0.4), rgba($color: $darkblue2, $alpha: 0.4));
    }
    &.rotate .planet__img img {

        animation: rotate 120s infinite;
    }
    &.ver3 {
        background-color: rgba($color: $grey2, $alpha: 0.4);
        .planet__row {
            margin-top: 0px;
        }
    }
    &.with_To .planet__img::before {
        content: '';
        background-image: var(--planet-bg);
        width: 44px;
        height: 44px;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: -22px;
        z-index: 1;
    }
    &.with_Click .planet__img {
        animation: pulse 5s infinite;
    }
    &.with_Click.hovered .planet__img {
        animation: none;
        transform: scale(1);
    }
}

.planet__img {
    position: absolute;
    top: 32px;
    right: 35px;
    img {
        width: 152px;
        height: 152px;
    }
}

.planet__information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    padding-right: 160px;
    p {
        font-size: 16px;
        margin-top: 16px;
    }
}

.planet__title,
.planet__lvl,
.planet__description,
.planet__gc {
    width: 100%;
}

.planet__title {
    font-size: 24px;
}

.planet__lvl {
    max-width: 103px;
}

.planet__gc {
    max-width: 317px;
    color: $yellow;
    background-color: $grey;
    padding: 10px;
    text-align: center;
    border-radius: 16px;
}

.planet__price {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    span {
        color: $yellow;
    }
}

.planet__row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 25px;
}

.planet__time-block {
    max-width: 213px;
    font-size: 16px;
    order: 2;
    text-align: right;
    padding-top: 30px;
}

.ver1 .planet__time-block {
    padding-top: 0;
    margin-top: -20px; 
    position: absolute;
    right: 35px;
}

.time-block__timer {
    font-family: "Arial Black", "Arial Bold", "Montserrat", sans-serif; 
    padding-bottom: 9px;
    span {
        position: relative;
        &::before {
            font-size: 8px;
            position: absolute;
            left: 50%;
            bottom: -8px;
            transform: translateX(-50%);
        }
    }
    .days::before {
        content: 'ДНИ';
    }
    .hours::before {
        content: 'ЧАСЫ';
    }
    .minutes::before {
        content: 'МИН';
    }
    .seconds::before {
        content: 'СЕК';
    }
    &.eng {
        .days::before {
            content: 'DAYS';
        }
        .hours::before {
            content: 'HOURS';
        }
        .minutes::before {
            content: 'MIN';
        }
        .seconds::before {
            content: 'SEC';
        }
    }
}

.market {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.market__trade,
.market__history {
    min-height: 525px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 32px 32px 25px;
    text-align: center;
    border-radius: 16px;
    .btn {
        display: inline-block;
        min-width: 140px;
    }
}

.market__trade {
    max-width: 750px;
    width: 100%;
    background-image: url(../images/market-bg.png);
    position: relative;
    .btn {
        margin-top: 22px;
    }
}

.market__history {
    width: 375px;
    background-image: url(../images/history-bg.png);
    .btn {
        margin-top: 20px;
    }
    .market__settings {
        margin-left: auto;
    }
}

.market__title {
    font-size: 48px;
    font-weight: 700;
}

.market__row {
    display: flex;
    align-items: center;
    max-width: 587px;
}

.market__reload,
.market__settings {
    width: 30px;
    height: 30px;
    transition: all 1s;
    cursor: pointer;
    img {
        width: 30px;
        height: 30px;
    }
}

.market__reload:hover,
.market__settings:hover {
    transform: rotate(360deg);
}

.market__settings {
    margin-left: auto;
}

.market__banner {
    max-width: 587px;
    min-height: 146px;
    width: 100%;
    padding: 19px 24px 102px;
    background-image: url(../images/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border-radius: 16px;
    &:nth-child(2) {
        margin-top: 16px;
    }
    &:nth-child(2)::after {
        content: url(../images/arrow2.svg);
        position: absolute;
        left: 50%;
        bottom: -33px;
        transform: translateX(-50%);
    }
    &:nth-child(3) {
        margin-top: 41px;
        background-image: url(../images/banner2.png);
    }
    &-number {
        font-size: 80px;
        font-weight: 700;
        color: $black;
        position: absolute;
        left: 46px;
        bottom: -9px;
        .market__banner-input {
            background-color: transparent;
            border: none;
            color: $black; /* Используйте соответствующий цвет из вашей цветовой схемы */
            font-size: 80px;
            font-weight: 700;
            width: 100%;
            padding-right: 50px;
            text-align: left;
            outline: none;
        }
        
        .market__banner-input::-webkit-inner-spin-button, 
        .market__banner-input::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.market__banner-choice {
    text-align: left;
}

.history__items {
    margin-top: 16px;
    text-align: left;
}

.history__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $grey3;
    background-color: rgba($color: $white, $alpha: 0.85);
    padding: 16px 27px 16px 16px;
    border-radius: 16px;
    img {
        width: 18px;
        height: 18px;
    }
    span {
        margin-left: 8px;
    }
    .money {
        font-weight: 800;
        color: $green;
        margin-left: auto;
        padding-left: 5px;
    }
    .red {
        color: $red;
    }
    & + .history__item {
        margin-top: 8px;
    }
}

.wallet {
    width: 100%;
    margin-top: 20px;
    padding: 50px 35px 40px;
    background: linear-gradient(45deg, rgba($color: $darkblue, $alpha: 0.4), rgba($color: $darkblue2, $alpha: 0.4));
    border-radius: 16px;
}

.wallet__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet__title {
    font-size: 48px;
    font-weight: 700;
}

.wallet__balance {
    display: flex;
    font-weight: 600;
    padding: 10px 45px;
    color: $yellow;
    background-color: $grey;
    border-radius: 16px;
    div {
        margin-left: 65px;
    }
}

.wallet__table {
    height: 463px;
    margin-top: 32px;
    padding: 26px 61px 84px;
    background-image: url(../images/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border-radius: 16px;
}

.wallet__table-inner {
    max-width: 600px;
}

.wallet__table-header,
.wallet__table-row {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    div {
        width: 100%;
    }
    div:nth-child(1) {
        max-width: 200px;
    }
    div:nth-child(2) {
        max-width: 200px;
        margin: 0 15px;
        text-align: center;
    }
    div:nth-child(3) {
        max-width: 140px;
    }
    .btn {
        width: 140px;
    }
}

.wallet__table-header {
    margin-bottom: 46px;
    div:nth-child(1) {
        padding-left: 5px;
    }
    div:nth-child(2) {
        position: relative;
        cursor: pointer;
        &::after {
            content: url(../images/arrow.svg);
            position: absolute;
            height: 30px;
            top: -1px;
            right: 32px;
            transition: all .3s;
        }
        &.sorted-asc::after {
            top: 2px;
            transform: rotate(180deg);
        }
    }
}

.wallet__table-row {
    line-height: 32px;
    & + .wallet__table-row {
        margin-top: 21px;
    }
    .btn {
        border: 1px solid transparent;
    }
    .btn-to {
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        &::after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url(../images/To.svg);
            background-size: cover;
        }
        &:hover {
            background-color: $grey;
            border-color: $grey;
        }
    }
}

.wallet__table-wrapper {
    height: 180px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $white;
        border-radius: 4px;
    }
}

.wallet__table-coin {
    padding-left: 40px;
    position: relative;
    &::before {
        content: '';
        width: 32px;
        height: 32px;
        background-image: var(--icon-bg);
        background-size: cover;
        position: absolute;
        left: 0;
    }
    span {
        display: none;
    }
}

.wallet__table-hr {
    max-width: 575px;
    margin: 28px 0 34px;
    color: $white;
}

.laboratory {
    margin-top: 35px;
    text-align: center;
    position: relative;
}

.laboratory__time {
    text-align: center;
}

.laboratory__time-text {
    font-size: 16px;
    font-weight: 600;
}

.laboratory__time-timer {
    font-size: 48px;
    font-weight: 900; 
    margin-top: 7px;
    padding-bottom: 12px;
    span {
        display: inline-block;
        width: 65px;
        position: relative;
        &.days {
            width: 96px;
        }
        &::before {
            font-size: 12px;
            position: absolute;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
        }
    }
    .days::before {
        content: 'ДНИ';
    }
    .hours::before {
        content: 'ЧАСЫ';
    }
    .minutes::before {
        content: 'МИНУТЫ';
    }
    .seconds::before {
        content: 'СЕКУНДЫ';
    }
    &.eng {
        .days::before {
            content: 'DAYS';
        }
        .hours::before {
            content: 'HOURS';
        }
        .minutes::before {
            content: 'MINUTES';
        }
        .seconds::before {
            content: 'SECONDS';
        }
    }
}

.laboratory__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 36px;
    margin-top: 40px;
    div {
        width: 85px;
        height: 84px;
        position: relative;
        margin: 40px 0;
        img {
            position: relative;
            z-index: 1;
        }
        &::before {
            content: '';
            width: 1px;
            height: 1px;
            background-color: transparent;
            position: absolute;
            left: 50%;
            bottom: 50%;
            box-shadow: 0 0 80px 50px $blue2;
            transition: all 3s;
            transform: translate(-50%, -50%); 
            z-index: 0;
        }
        span {
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            position: absolute;
            left: 50%;
            bottom: -36px;
            margin: 0;
            transform: translateX(-50%);
            min-width: 100px;
        }
        &:hover::before {
            box-shadow: 0 0 85px 60px $blue2;
        }
    }
    span {
        margin: 0 20px;
        position: relative;
        z-index: 1;
    }
}

.laboratory__button {
    font-size: 20px;
    font-weight: 700;
    color: $white;
    background-color: transparent;
    margin-top: 61px;
    padding: 11px;
    border: 3px solid $white;
    border-radius: 8px;
    transition: all .3s;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover {
        color: $black;
        background-color: $white;
    }
}

.laboratory__text {
    max-width: 480px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin: 32px auto 0;
    padding: 48px 16px 48px 72px;
    border-bottom: 1px solid $white;
    position: relative;
    &::before {
        content: url(../images/dnk.svg);
        position: absolute;
        left: 16px;
        top: 32px;
    }
}

footer {
    margin-top: 86px;
}

.footer__inner {
    text-align: center;   
}

.footer__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        path {
            transition: all .3s;
        }
        &:hover path {
            stroke: $yellow;
        }
        &:nth-child(3):hover path {
            fill: $yellow;
        }
    }
    li + li {
        margin-left: 32px;
    }
}

.footer__copyright {
    font-size: 24px;
    font-weight: 300;
    margin: 16px 10px 32px;
}

.plus-icon {
    position: absolute;
    color: white;
    font-size: 24px;
    pointer-events: none;
    animation: fadeOut 1s forwards;
} 

@import 'media';