.timerWrapper {
}

.timer-wrapper__counter {
  font-weight: bold;
  font-size: 16px;
}
.timer-wrapper__text {
  display: flex;
  font-weight: bold;
  font-size: 10px;
  gap: 4px;
}

@media (max-width: 768px) {
  .time-wrapper__text {
    font-size: 8px;
  }
}